In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("./dataset/movies_metadata_enko.csv")
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,movieId,imdbId,tmdbId,cast,crew,keywords,view_tag,poster_path2,title2,overview2
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"['Animation', 'Comedy', 'Family']",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1,114709,862.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",/9XFrhkHRYw3AmCZwQX4G2gOwVB0.jpg,토이 스토리,카우보이 인형 우디는 꼬마 주인인 앤디의 가장 사랑받는 장난감이다. 그러나 어느날 ...
1,False,NaN,65000000,"['Adventure', 'Fantasy', 'Family']",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,2,113497,8844.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,/z46R8oShx61gXMrAmd7ptpVqNI0.jpg,쥬만지,1969년 공장을 운영하는 아버지 밑에서 유복하지만 엄격하게 자라는 열두 살짜리 소...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"['Romance', 'Comedy']",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,3,113228,15602.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,/1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg,그럼피어 올드 맨,"미네소타의 와바샤에도 여름이 찾아왔다. 얼음은 녹아내리고, 더 이상은 얼음낚시도 할..."
3,False,NaN,16000000,"['Comedy', 'Drama', 'Romance']",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,4,114885,31357.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",/4wjGMwPsdlvi025ZqR4rXnFDvBz.jpg,사랑을 기다리며,사반나 잭슨(Savannah Jackson: 휘트니 휴스턴 분)은 TV 프로듀서로서...
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,['Comedy'],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,5,113041,11862.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,/rj4LBtwQ0uGrpBnCELr716Qo3mw.jpg,신부의 아버지 2,"어느날 애니와 브라이언이 양가의 부모님 앞에서 자기들은 곧 엄마, 아빠가 될거라고 ..."

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9295 entries, 0 to 9294
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9295 non-null   bool
 1   belongs_to_collection  1703 non-null   object
 2   budget                 9295 non-null   int64
 3   genres                 9295 non-null   object
 4   homepage               2018 non-null   object
 5   id                     9295 non-null   int64
 6   imdb_id                9295 non-null   object
 7   original_language      9295 non-null   object
 8   original_title         9295 non-null   object
 9   overview               9295 non-null   object
 10  popularity             9295 non-null   float64
 11  poster_path            9292 non-null   object
 12  production_companies   9295 non-null   object
 13  production_countries   9295 non-null   object
 14  release_date           9295 non-null   object
 15  revenue                9295 non-null   float64
 16  runtime                9295 non-null   float64
 17  spoken_languages       9295 non-null   object
 18  status                 9293 non-null   object
 19  tagline                7113 non-null   object
 20  title                  9295 non-null   object
 21  video                  9295 non-null   bool
 22  vote_average           9295 non-null   float64
 23  vote_count             9295 non-null   float64
 24  year                   9295 non-null   int64
 25  movieId                9295 non-null   int64
 26  imdbId                 9295 non-null   int64
 27  tmdbId                 9295 non-null   float64
 28  cast                   9295 non-null   object
 29  crew                   9295 non-null   object
 30  keywords               9295 non-null   object
 31  view_tag               9295 non-null   object
 32  poster_path2           9277 non-null   object
 33  title2                 9295 non-null   object
 34  overview2              7294 non-null   object
dtypes: bool(2), float64(6), int64(5), object(22)
memory usage: 2.4+ MB

In [15]:
df[df['title2']=='기생충']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, year, movieId, imdbId, tmdbId, cast, crew, keywords, view_tag, poster_path2, title2, overview2]
Index: []

[0 rows x 35 columns]